.rotating-border {
  position: absolute;
  inset: -2px;
  border-radius: 1.5rem;
  background: transparent;
  z-index: 0;
}

/* moving light dot */
.rotating-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  /* the glowing dot */
  background: radial-gradient(circle, #06b6d4 0%, transparent 60%);
  width: 18px;
  height: 18px;

  /* animation path */
  offset-path: inset(0 round 1.5rem);
  offset-distance: 0%;

  animation: travel 3s linear infinite;

  filter: blur(1px);
  box-shadow: 0 0 12px #06b6d4, 0 0 20px #6d28d9;
}

@keyframes travel {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
/* SCROLL INDICATOR */
.scroll-line {
  animation: scrollFade 1.8s ease-in-out infinite;
}

@keyframes scrollFade {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: translateY(180%);
    opacity: 0;
  }
}

